<div class="container">
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h1 class="h6">All boards</h1>

          <form action="/insert_board" method="post">

            <button type="button" class="ms-auto btn btn-sm btn-outline-success" data-bs-toggle="modal" data-bs-target="#newBoardsModal">
              Add a new board
            </button>
          </div>
          <div class="list-group list-group-flush">
            <ul class="list-group list-group-flush">
              <% @list_of_boards.each do |a_board| %>
                <li class="list-group-item">
                  <a class="d-flex list-group-item list-group-item-action"href="/boards/<%= a_board.id %>">
                    <%= a_board.name %>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
